$orange: #f6a001
$purple: #861875
$pink: #e6017e
$green: #00a356
$violet: #8ea0d2
$teal: #4dbdc3
$silver: #7f817e

@import url(https://fonts.googleapis.com/css?family=Permanent+Marker)

//Prefixes definition
$webkit:true
$o:true
$moz:true
$w3:true
$ms:true

//Gradient Mixin
@mixin gradient($mode,$direction,$from,$to,$oldDirection:null)
  @if $webkit == true
    @if($oldDirection != null)
      background-image: -webkit-gradient($mode, #{$oldDirection}, from($from),to($to))
      background-image: -webkit-#{$mode}-gradient($direction, $from, $to)
  @if $moz == true
    background-image: -moz-#{$mode}-gradient($direction, $from, $to)
  @if $o == true
    background-image: -o-#{$mode}-gradient($direction, $from, $to)
  @if $ms == true
    background-image: -ms-#{$mode}-gradient($direction, $from, $to)
  @if $w3 == true
    background-image: #{$mode}-gradient($direction, $from, $to)


h1, h2
  font-family: 'Permanent Marker', cursive
  font-weight: 400

body
  font-family: "proxima-nova", sans-serif
  color: #333333

.headline
  background-image: url("/images/bg-1.jpg")
  background-size: cover
  color: #fff
  padding: 2em 0
  height: 100vh
  .inner
    position: relative
    top: 50%
    transform: translateY(-65%)
  .heading
    h1
      color: darken($pink,30)
      color: saturate($teal,30)
      margin: 0
      text-align: left
      text-transform: uppercase
      line-height: 1
      text-align: center
  .subheading
    p
      margin: 0 0 1em 0
      line-height: 1
      text-align: center
  +media($medium-screen)
    height: 100vh
    .inner
      position: relative
      top: 50%
      transform: translateY(-50%)

.intro
  position: relative
  .inner
    width: 90%
    margin-left: auto
    margin-right: auto
    +media($medium-screen)
      width: 100%
      position: absolute
      top: 50%
      transform: translateY(-65%)
    h2
      font-size: em(36)
      text-align: left
      margin-bottom: 1em
    p
      font-size: em(20)
      line-height: 1.5
      text-align: left
  +media($medium-screen)
    height: 100vh
    padding: 3em 0

.logo
  margin-left: auto
  margin-right: auto
  margin-bottom: 0
  width: 200px
  img
    max-width: 100%

#main
  +outer-container
  position: relative
  clear: both

section
  background-color: #fff
  height: 100vh

  &.pink
    border-top: 3px solid $pink
  &.teal
    border-top: 3px solid $teal
  &.silver
    border-top: 3px solid $silver
  &.blank
    border-top: 3px solid #fff

  .inner
    text-align: center
    width: 90%
    margin-left: auto
    margin-right: auto
    +media($medium-screen)
      width: 100%

    h2
      line-height: 1
      margin-top: 25vh
      margin-bottom: 0.1em

    p
      font-size: 2em
      margin: 0
      color: $silver

  &.outro
    border-top: 0
    background-image: url("/images/bg-2.jpg")
    background-size: cover
    color: #fff
    .inner
      position: relative
      top: 50%
      transform: translateY(-65%)
    p
      color: #fff



.lt-ie9
  .intro
    padding: 4em
  .heading h1
    font-size: 10em

  section
    padding: 3em 0 7em 0
    h2
      font-size: 5em
