!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
/ [if gt IE 8]><!
%html.no-js
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title FutureGov 2015 in numbers
    %meta{:content => "", :name => "description"}/
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1", name: "viewport"}/

    %script{:src => "javascripts/vendor/modernizr-2.7.1.min.js"}
    %script{:src => "https://use.typekit.net/git0bwt.js"}
    :javascript
      try{Typekit.load({ async: true });}catch(e){}
    / %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"}
    
    = stylesheet_link_tag "application"


  %body
    /[if lt IE 7]
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>

    = yield


    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/gsap/1.14.2/TweenMax.min.js"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.3/ScrollMagic.js"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.3/plugins/debug.addIndicators.min.js"}

    = javascript_include_tag "application"