.headline
  .inner

    .logo
      =image_tag('logo.png')

    .heading
      %h1 2015
    .subheading
      %p by the numbers

#main

  .panel.blank.intro
    .inner
      / %h2 Life’s weird. 
      %p
        Life’s weird. At this time last year, half of us were sitting in a cramped room at the Barbican trying to get Local Offer out the door; the other half were somewhere else — Ogilvy and LSE, Kolkata and Berlin.
        One way or another, though, we ended up together — and the work we’ve accomplished over the past
        year is a constant inspiration. In just one year we’ve introduced service design to the UAE, watched Patchwork spread across Australia, and made a difference in UNDP offices across the globe.

      %p
        %strong
          Here's a look at our year in numbers.

  %section.panel.pink
    .inner
      .count
        %h2.counter 45
      %p customers

  %section.panel.teal
    .inner
      .count
        %h2 15,500
      %p Twitter followers

  %section.panel.silver
    .inner
      .count
        %h2 70,000
      %p miles Dom flew between May and November (approximate)

  %section.panel.pink
    .inner
      .count
        %h2.counter 3
      %p equivalent amount of trips around the planet

  %section.panel.teal
    .inner
      .count
        %h2 50%
      %p estimated programme savings for one London borough council

  %section.panel.silver
    .inner
      .count
        %h2.counter 70
      %p handbooks printed, hole punched, filled, and dragged to UAE in a suitcase by Simone

  %section.panel.pink
    .inner
      .count
        %h2 £2,098,904.16
      %p total sales

  %section.panel.teal
    .inner
      .count
        %h2 £1,800,000.00
      %p total revenue

  %section.panel.silver
    .inner
      .count
        %h2 2,148
      %p GitHub commits made

  %section.panel.pink
    .inner
      .count
        %h2.counter 5
      %p disposable cameras used by young detectives in Wokingham to document how they travel to school

  %section.panel.teal
    .inner
      .count
        %h2.counter 65
      %p contracts

  %section.panel.silver
    .inner
      .count
        %h2 579,100,000
      %p Twitter impressions

  %section.panel.pink
    .inner
      .count
        %h2 1,352
      %p professionals in Australia connected via Patchwork

  %section.panel.teal
    .inner
      .count
        %h2.counter 23
      %p service designers met before finding Amy & Lingjing

  %section.panel.silver
    .inner
      .count
        %h2.counter 907
      %p Yammer Time subscribers

  %section.panel.pink
    .inner
      .count
        %h2.counter 100
      %p registrants — the most our office could hold — for a service design hackathon about SEN transport in Wokingham

  %section.panel.teal
    .inner
      .count
        %h2 21,250
      %p Post-its ordered since July

  %section.panel.silver
    .inner
      .count
        %h2.counter 90
      %p custom Slack emoji, including Justin Timberlake and a pride flag

  %section.panel.pink
    .inner
      .count
        %h2 5,589
      %p results for “how might we” on Dropbox

%section.panel.teal.outro
  .inner
    .logo
      =image_tag('logo.png')
    .count
      %h2 2016
    %p See you next year!